

.grid{
    position: absolute;
    height: 300px;
    width: 560px;
    border: solid 1px black;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(126, 62, 45);
}

.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(28, 111, 189);
}

.ball{
    position:absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: orange;
}